<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span>MUSIC APP</span>
      <div class="login">
        <% if logged_in? %>
          <span>Hi, <%= current_user.email %></span> 
          <form action="<%= sessions_url %>" method="post">
            <%= render 'layouts/auth' %>
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout">
          </form>
        <% else %>
          <a href="<%= new_sessions_url %>">Sign In</a>
          <a href="<%= new_user_url %>">New User Sign Up</a>
        <% end %>
      </div>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
